<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ogangi.plugins.launchapp"
        version="0.0.1">
    
    <name>launchApp</name>
    
    <description>This plugin for Cordova and PhoneGap allows you to check if an app is installed. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,PhoneGap,plugin,app,availability,installed, URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/launchApp.js" name="launchApp">
        <clobbers target="launchApp" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="launchApp">
                <param name="ios-package" value="launchApp" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/launchApp.h" />
        <source-file src="src/ios/launchApp.m" />
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="launchApp">
                <param name="android-package" value="com.ogangi.launchApp.launchApp" />
            </feature>
        </config-file>
        
        <source-file src="src/android/launchApp.java" target-dir="src/com/ogangi/launchApp/" />
    </platform>
    
</plugin>